*.class
.project
.pydevproject
.settings
.DS_Store
.tags
target/*
*~
#*
.classpath
.settings/*
.project
.DS_Store
*.log
darkevil-logs/
.idea/*
.idea/uiDesigner.xml
*.iml
/target/
/target/
/target/
src/main/resources/config.yaml
.idea
logs/
