*.class
.project
.pydevproject
.settings
.DS_Store
.tags
target/*
*~
#*
.classpath
.settings/*
.project
.DS_Store
*.log
darkevil-logs/
.idea/*
.idea/uiDesigner.xml
*.iml
/target/
/target/
/target/
src/main/resources/config.yaml
.idea
logs/
*.py
*.pyc
*.pyx

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
